@charset "UTF-8";

html {
	overflow-y: scroll;

}

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: rgb(230, 250, 255);
}


.card-deck {
  padding: 10%;
}


