@charset "UTF-8";

html {
	overflow-y: scroll;

}

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: rgb(230, 250, 255);
	padding-top: 56px;
}

.bg-light {
	background-image: url(../img/bgi_nav.jpg);
	background-size: cover;

}


.card-deck {
  padding: 10%;
}

#mainvisual img {
	width: 100%;
	height: 500px;
	object-fit: cover;
	margin: 50px 0;
}

#sec1 {
	height: 600px;
	width: 100%;
	display: flex;
}


