@charset "UTF-8";

html {
	overflow-y: scroll;

}

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url(../img/backg-waves.jpeg);
	background-repeat: repeat;
	padding-top: 56px;
}

.navbar {
	display: flex;
	justify-content: flex-start;
	background-color: #bfecff;
}

.navbar-img {
	height: 60px;
	display: flex;
}

#navbar_rogo{
	height: 50px;
	width: fit-content;
	margin-left: 10px;
	display: flex;
}

.navbar-toggler {
	margin-left: auto;
}

.nav-item {
	display: flex;
	justify-content: flex-end;
}

.breadcrumb {
	margin-top: 40px;
	background-color: #8EDDFF;
}

.carousel-inner {
	position: relative;
}

#rogo-text {
	max-width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 150;
}


#mainvisual img {
	width: 100%;
	height: 500px;
	object-fit: cover;
	margin: 50px 0;
}

.category-list {
	width: 100%;
	display: flex;
	justify-content: center;
}

.dropdowns {
	height: max-content;
	width: 90%;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.dropdown {
	width: 30%;
	min-width: 200px;
	margin-top: 20px;
}


.dropdown-img {
	height: 100px;
	width: 80%;
}

#sec1 {
	height: 600px;
	width: 100%;
	display: flex;
}

.sec-card {	
	width: 100%;
	display: flex;
	justify-content: center;
}

.container { 
	width: 80%;
	display: flex;
	flex-wrap: wrap;
}

.card {
	/* max-width: 500px; */
	max-height: 500px;
}

.card-img-top{
	max-width: 260px;
	max-height: 260px;
	object-fit: contain;
}



/* --------item.htmlのcss-------- */

.itembox {
	padding: auto;

}

/* .itembox-main{
	display: flex;
	align-items: center;
} */

.itemcard-body {
	line-height: 30px;
	padding-left: 60px;
}

.col-md-4 {
	width: 360px;
	height: 400px;
}

.item-img {
	max-width: 360px;
	max-height: 360px;
	padding-left: 10px;
	margin-top: 40px;
	object-fit: contain;
}


.item-name {
	color: #e73562;
	font-weight: 550;
	line-height: 60px;
	padding-top: 40px;
}

.item-price {
	font-family: HuiFontP109;
	padding-left: 20px;

}

.item-abv {
	font-family: HuiFontP109;
	padding-left: 20px;
}

.item-type {
	font-family: HuiFontP109;
	padding-left: 20px;
}

.item-shop {
	font-family: HuiFontP109;
	padding-left: 20px;
}

.item-explain {
	color: gray;
	font-size: 18px;
	line-height: 25px;
	padding-top: 40px;
	padding-right: 30px;
	padding-left: 20px;
}


