<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>かりーたいむ</title>
  </head>
  <body>

      <!-- ナブバー -->
      <nav class="navbar navbar-light fixed-top">
        <a href="http://kari-time.herokuapp.com/"><img class="navbar-img" src="../static/img/kari-time.png" alt="kari-time"></a>
        <a href="http://kari-time.herokuapp.com/"><img id="navbar_rogo" src="../static/img/rogo_color2.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>

        <!-- twitter -->
       <div class="tweet-btn">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="【沖縄のお酒で乾杯しよう！】好みのお酒が見つかるかも？ https://twitter.com/lurejunkie/status/1566039107088031745/photo/1" data-via="lurejunkie" data-hashtags="かりーたいむ" data-lang="en" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div> 

      <!-- ハンバーガーメニュー -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- ナブメニュー -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="http://kari-time.herokuapp.com/">トップページ</a>
            </li>
            <li class="nav-item">
              <p class="nav-link dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #bfecff;">
                味で選ぶ
                <div class="dropdown-menu" style="background-color: #bfecff;">
                  <a class="dropdown-item" href="http://kari-time.herokuapp.com/taste1_list/柑橘系">柑橘系</a>
                  <a class="dropdown-item" href="http://kari-time.herokuapp.com/taste1_list/マンゴー">マンゴー</a>
                  <a class="dropdown-item" href="http://kari-time.herokuapp.com/taste1_list/梅">梅</a>
                <a class="dropdown-item" href="http://kari-time.herokuapp.com/taste1_list/パイン">パイン</a>
                  <a class="dropdown-item" href="http://kari-time.herokuapp.com/taste1_list/コーヒー">コーヒー</a>
                  <a class="dropdown-item" href="http://kari-time.herokuapp.com/taste1_list/その他">その他</a>
                </div>
              </p>
            </li>
            <li class="nav-item">
                <p class="nav-link dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #bfecff;">
                タイプで選ぶ
                <div class="dropdown-menu" style="background-color: #bfecff;">
                  <a class="dropdown-item" href="http://kari-time.herokuapp.com/type_list/リキュール">リキュール</a>
                  <a class="dropdown-item" href="http://kari-time.herokuapp.com/type_list/梅酒">梅酒</a>
                  <a class="dropdown-item" href="http://kari-time.herokuapp.com/type_list/泡盛">泡盛</a>
                  <a class="dropdown-item" href="http://kari-time.herokuapp.com/type_list/スパークリング">スパークリング</a>
                  <a class="dropdown-item" href="http://kari-time.herokuapp.com/type_list/その他">その他</a>
                </div>
              </p>
            </li>
            <li class="nav-item">
              <p class="nav-link dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #bfecff;">
                シーンで選ぶ
                <div class="dropdown-menu" style="background-color: #bfecff;">
                  <a class="dropdown-item" href="http://kari-time.herokuapp.com/scene1_list/ひとりで">ひとりのみ</a>
                  <a class="dropdown-item" href="http://kari-time.herokuapp.com/scene1_list/みんなで">みんなでワイワイ</a>
                  <a class="dropdown-item" href="http://kari-time.herokuapp.com/scene1_list/プレゼントで">プレゼント</a>
                </div>
              </p>
            </li>
          </ul>
        </div>
      </nav>




      {% block content %}





      {% endblock %}


<!-- Footer -->


  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: #bfecff; margin-top: 50px; color: gray;">
    © 2022 Copyright: かりーたいむ
  </div>
  <!-- Copyright -->

      
      


    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>