{% extends "base.html" %}
{% block content %}


      {% for item in item %}
      <div class="card" style="width: 18rem;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
        <div class="card-body">
            <h5 class="item-name">{{item["item"]}}</h5>
            <p class="item-price">{{item["price"]}}</p>
            <p class="item-abv">{{item["abv"]}}</p>
            <p class="item-type">{{item["type"]}}</p>

            <p class="item-explain">{{item["explain"]}}</p>
        </div>
      </div>
      {% endfor %}



{% endblock %}