{% extends "base.html" %}
{% block content %}


<!-- {% for item in item %} -->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://127.0.0.1:5000/">トップページ</a></li>
    <li class="breadcrumb-item"><a href="#" onclick="history.back(-1);return false;">商品一覧</a></li>
    <li class="breadcrumb-item active" aria-current="page">商品詳細</li>
  </ol>
</nav>


<section id="sec1">
  <div class="card mb-3" style="width: 1000px;  height: 500px; margin: auto; padding-top: 70px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{item['img']}}" class="card-img-top" alt="" style="width: 360px;">
      </div>
      <div class="col-md-8">
        <div class="itemcard-body">
          <h3 class="item-name">{{item["item"]}}</h3>
          <p class="item-price">Price: {{item["price"]}}</p>
          <p class="item-abv">Alc: {{item["abv"]}}</p>
          <p class="item-type">Type:<a href="/type_list/{{item['type']}}">{{item["type"]}}</a></p>
          <p class="item-type">Shop:<a href="{{item['URL']}}">商品の購入はこちら！</a></p>

          <p class="item-explain">{{item["explain"]}}</p>
        </div>
      </div>
    </div>
    </div>
</section>


<!-- {% endfor %}  -->


{% endblock %}